<h3>New message:</h3>
<form novalidate (ngSubmit)="onSubmit()" [formGroup]="messageForm">
    <label>Message: <input type="text" formControlName="message" /></label>
    <button class="button" type="submit">Create</button>
</form>
